{{ if ne .chezmoi.os "darwin" }}
setup/1_darwin/**
setup/2_fish/**
.config/karabiner
{{ end }}

{{ if ne .chezmoi.os "linux" }}
setup/1_linux/**
setup/2_fish/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
setup/1_windows/**
{{ end }}
