{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/1_darwin/**
Library/
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/1_linux/**
{{ end }}

{{ if and (ne .chezmoi.os "darwin") (ne .chezmoi.os "linux") }}
.chezmoiscripts/2_fish/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/1_windows/**
AppData/
bin-win/
Documents/
{{ end }}

{{ if not (or (eq .chezmoi.os "linux") (and (hasKey .chezmoi.kernel "osrelease") (.chezmoi.kernel.osrelease | lower | contains "microsoft"))) }}
.chezmoiscripts/2_wsl/**
{{ end }}

symlink-src/
