brew "gibo"
brew "git-secrets"
brew "tig"
brew "bat"
brew "ripgrep"

{{- if ne (env "REMOTE_CONTAINERS") "true" }}
brew "curl"
brew "emojify"
brew "git"
brew "graphviz"
brew "nkf"
brew "openssl"
brew "pandoc"
brew "shellcheck"
brew "tealdeer"
brew "tmux"
brew "tree"
brew "watch"
brew "wget"
{{- end }}

{{- if eq .chezmoi.os "linux" }}
brew "emacs"
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
cask_args appdir: "/Applications"
brew "mise"
brew "mas"

cask "google-chrome"
cask "karabiner-elements"
cask "1password"
cask "1password-cli"
cask "visual-studio-code"

brew "fish"
brew "gnu-sed"
brew "highlight"
brew "trash"
brew "cmigemo"
brew "ffmpeg"
brew "pngpaste"
# brew "tree-sitter"
# brew "awk"
# brew "sqlite"

cask "adobe-acrobat-reader"
cask "cyberduck"
cask "firefox"
cask "font-cica"
cask "font-hackgen-nerd"
cask "font-hackgen"
cask "font-noto-serif"
cask "font-roboto"
cask "font-source-code-pro"
cask "font-udev-gothic"
cask "font-udev-gothic-nf"
cask "docker-desktop"
cask "google-japanese-ime"
cask "keycastr"
cask "raycast"
cask "rectangle"
cask "vlc"
cask "wezterm"
# cask "xmind"

brew "d12frosted/emacs-plus/emacs-plus@30"

mas "CotEditor", id: 1024640650
# mas "The Unarchiver", id: 425424353
# mas "Numbers", id: 409203825
# mas "Keynote", id: 409183694
# mas "Pages", id: 409201541
# mas "Xcode", id: 497799835
{{-   if .personal }}
# 個人用設定
cask "discord"
cask "dropbox"
mas "LINE", id: 539883307
mas "Kindle", id: 302584613
mas "Noizio", id: 928871589
{{-   else }}
# 仕事用設定
brew "act"
brew "ast-grep"
brew "caddy"
brew "chezmoi"
brew "cloc"
brew "rclone"
brew "node"

cask "deskpad"
cask "devtoys"
cask "figma"
cask "gcloud-cli"
cask "xbar"
cask "zoom"
# cask "obs"
# cask "altair-graphql-client"
# cask "insomnia"

mas "Slack", id: 803453959
{{-   end }}
{{- end }}
