[tools]
{{- if ne (env "REMOTE_CONTAINERS") "true" }}
# language
node = "lts"
deno = "latest"
python = "latest"
go = "latest"
# ruby = "latest"
rust = "latest"
bun = "latest"
{{- end }}

# cli
jq = "latest"
fzf = "latest"
github-cli = "latest"
bat = "latest"
coreutils = "latest"
lazygit = "latest"
starship = "latest"
delta = "latest"
ripgrep = "latest"
fd = "latest"

{{- if ne (env "REMOTE_CONTAINERS") "true" }}
ctop = "latest"
ghq = "latest"
uv = "latest"
duckdb = "latest"
zoxide = "latest"
{{- end }}

{{- if ne .chezmoi.os "windows" }}
"cargo:eza" = "latest"
{{- end }}

# tmux = "latest"
# shellcheck = "latest"
# terraform = "latest"
